body{
    background-color: black;
}
.header{
  border: 3px solid black;
  padding: 10px;
  background-color:white;
  margin: auto;
  width :50%;
  height:50%;
  margin-top: 100px;
  margin-bottom: 100px;  
}
.first{
    color: blue;
    font-size:17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding:25px 50px 25px 50px;
    margin-left: 0%;
    margin-top: 50px;
    padding-left: 35px;;
}
.box{
    text-align: center;
    margin: auto;
  width: 50%;
  height: 75%;
  border: 1px solid lightgray;
  padding: 10px;
  background-color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

.step {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  margin-bottom: 2%;
}

.step.active {
  background-color: #140664;
  color: white;
}

.step.completed {
  background-color: #140664;
  color: white;
  margin-bottom: 1%;
  margin-top: 2%;
}

.line {
  width: calc(30% -0px);
  height: 5px;
  background-color: #008CBA;
}